.random-menu-container {
  width: 400px;
  padding: 10px;
  height: 680px;
  margin: 1em auto;
  box-shadow: 3px 3px 3px lightgrey;
  border-radius: 5px;
  background-color: white;
}

.random-menu-space {
  width: 100%;
  height: auto;
}



/* @media screen and (max-width: 768px) {
  .random-menu-container {
    width: 400px;
  }
} */